

h1 {
    color: #464255;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

h2 {
    color: #3E4954;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0.5rem 0;
}

h3 {
    color: #3E4954;
    font-size: 1rem;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 0;
}

h4 {
    color: #3E4954;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}