@use '../variables/_structure';

.default-layout {
    height: 100vh;
    @media (max-width: structure.$small) {
        height: 100dvh;
    }
}

.column-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}