@use '../variables/_structure';

.filter-body__language-checkboxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    @media (max-width: structure.$small) {
        grid-template-columns: repeat(2, 1fr); 
        padding: 0;
    }
}
.filter-body__enviroment-checkboxes {
    padding: 0 1rem 0 1rem;
    gap: 4rem;
    @media (max-width: structure.$small) {
        display: flex;
        justify-content: space-between;
        padding: 0;
        gap: 1rem;

    }
}

.filter-body__indoors-checkbox {
    border-radius: 0.9375rem;
    border: 2px solid #ECEAF3;
    background: #FFF;
    padding: 0.7rem 1rem;
    @media (max-width: structure.$small) {
        padding: 0.4rem 0.4rem;

    }
}

.filter-body__category-checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem 2.5rem;
    padding: 0 1rem 0 1rem;
    @media (max-width: structure.$small) {
        gap: 1rem;
        padding: 0rem;

    }
}

.label-text {
    margin-left: 0.5rem;
}

