.map-container {
  position: relative;
  flex-grow: 1; /* fill remaining vertical space */
  min-height: 0; /* allow shrinking */
  width: 100%;
  border-top: 2px solid black;
  box-sizing: border-box;
  margin-top: 0.7rem;

}

.mapboxgl-marker {         
  cursor: pointer;
}

.mapboxgl-popup-content {
  border-radius: 1rem;          /* or whatever size you want */
  overflow: hidden;             /* ensures children like images also round */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15); /* optional: soft card shadow */
  padding: 1rem;                   /* optional: let your own layout handle padding */
}