
.mapboxgl-popup-content {
  position: relative;
  border-radius: 0.75rem;     
  overflow: hidden;           
  padding: 0;
  width: fit-content;
}

.maptooltip {
    gap: 0.5rem;
    padding: 1rem;  
    width: 18vw;
    // max-height: 29vh;
}

.maptooltip__img {
    height: 20vh;
    aspect-ratio: 0.5;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

