$color-green: #03a481;
$color-green-rgb: rgba(2, 195, 154, 0.15);
$color-dark-green: #5296A5;
$color-gray: #585858;
$color-light-gray: #E3E3E5;
$color-purple: #484C70;
$color-light-purple: #E6EDFF;
$color-white: #ffffff;
$color-gold: #F2AF29;
$color-red: #AD343E;
$color-blue: #2EA7CE;
$color-pink: #EAA2A8;
$color-orange: #FB902D;

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 0.6875rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    padding: 0.7rem 1.25rem;
}

.tag p {
    font-family: Commissioner;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    color: inherit;
}

.tag--green {
    color: $color-green;
    background: $color-green-rgb;
}

.tag--gray {
    color: $color-gray;
    background-color: $color-light-gray;
}

.tag--purple {
    color: $color-purple;
    background-color: $color-light-purple;
}

.tag--dark-purple {
    color: $color-white;
    background-color: $color-purple;
}

.tag--gold {
    color: $color-white;
    background-color: $color-gold;
}

.tag--red {
    color: $color-white;
    background-color: $color-red;
}

.tag--dark-green {
    color: $color-white;
    background-color: $color-dark-green;
}

.tag--blue {
    color: $color-white;
    background-color: $color-blue;
}

.tag--pink {
    color: $color-white;
    background-color: $color-pink;
}

.tag--orange {
    color: $color-white;
    background-color: $color-orange;
}