:root {
  --brand-color--roseate: #E35056;

  --primary-color--ruby-red: #D54552;
  --primary-color--deep-garnet: #C12D3F;
  --primary-color--coral-haze: #FD907E;

  --secondary-color--peach-puff: #FFDDD7;
  --secondary-color--alabaster-gleam: #F9EDEF;
  --secondary-color--cherry-blossom: #F7C6CE;
  --secondary-color--rose-bud: #EAA2A8;
  --secondary-color--soft-pink: #F8E0E1;
  --secondary-color--seashell-peach: #FFF8F5;
  --secondary-color--rose-water: #F8DFE0;
  --secondary-color--bisque-mist: #FFECE7;
  --secondary-color--rose-gold: #E9B3AB;
  --secondary-color--ivory-whisper: #FFFBF9;

  --accent-color--vivid-tangerine: #FFB038;
  --accent-color--apricot: #FFCC7F;
  --accent-color--jade-green: #39B54A;
  --accent-color--mint-cream: #D7F9DA;
  --accent-color--ocean-blue: #3995B2;
  --accent-color--bady-powder: #D7F5F7;

  --neutral-color--black: #000000;
  --neutral-color--white: #FFFFFF;
  --neutral-color--davys-grey: #3E4954;
  --neutral-color--quick-silver: #9E9B9B;
  --neutral-color--white-smoke: #F5F5F5;
  --neutral-color--ghost-white: #EAEAEF;
  --neutral-color--baby-powder: #FAFAFA;
  --neutral-color--silver-sand: #C1C1C1;

  --graph-color--navy-blue: #183A67;
  --graph-color--steel-blue: #30619B;
  --graph-color--sky-blue: #2EA7CE;
  --graph-color--turquoise: #2FBBB2;
  --graph-color--light-blue: #B9D7D9;

  --graph-color--forest-green: #016242;
  --graph-color--teal-green: #1F894A;
  --graph-color--lime-green: #39B54A;
  --graph-color--mint-green: #73C8A9;
  --graph-color--pale-green: #BCD874;

  --graph-color--crimson: #C70000;
  --graph-color--coral: #D54552;
  --graph-color--orange: #FB902D;
  --graph-color--gold: #FFC225;
  --graph-color--cream: #FFE78E;

  --graph-color--plum: #623286;
  --graph-color--ruby: #9D2053;
  --graph-color--orchid: #E563B8;
  --graph-color--salmon: #FC95A2;
  --graph-color--pink: #FFD9DE;

  /* New Palette */
  --background-color--main: #F3F2F7;
  --disabled-text-color: #7D8DB5;
  --table-row-hover-background-color: #eef3fc;

  --background-color--secondary: var(--secondary-color--seashell-peach);
  --card-background-color: var(--secondary-color--peach-puff);

  --text-color--main: var(--neutral-color--black);
  --text-color--secondary: var(--neutral-color--davys-grey);
  --text-color--accent: var(--primary-color--ruby-red);
  --text-color--subtext: var(--neutral-color--davys-grey);
  --text-color--white: var(--neutral-color--white);
  --placeholder-text-color: var(--neutral-color--quick-silver);

  --archived-text-color: var(--neutral-color--quick-silver);

  --input-border-color: var(--secondary-color--rose-water);

  --scrollbar-color: #b6b6b6;

  --button-text-color: var(--text-color--white);
  --button-border-color: var(--secondary-color--rose-water);

  --border-color: var(--secondary-color--soft-pink);
  --border-color-dark: var(--neutral-color--silver-sand);

  --error-color: var(--primary-color--deep-garnet);
  --success-color: var(--accent-color--jade-green);

  --toggle-button-background-color: var(--neutral-color--ghost-white);

  --checkbox-border-color: var(--neutral-color--quick-silver);

  --overlay-color: rgba(99, 98, 98, 0.8);

  --search-field-background-color: var(--neutral-color--white-smoke);
  --search-field-placeholder-color: var(--neutral-color--davys-grey);

  --table-header-text-color: var(--neutral-color--quick-silver);

  --spinner-background-color: var(--secondary-color--soft-pink);
  --spinner-fill-color: var(--primary-color--ruby-red);

  --toast-accent-color--error: var(--primary-color--ruby-red);
  --toast-accent-color--warning: var(--accent-color--vivid-tangerine);
  --toast-accent-color--success: var(--accent-color--jade-green);
  --toast-accent-color--info: var(--accent-color--ocean-blue);

  // New variables for colors not present in the palette
  --gray-medium: #757575;
  --gray-dark: #464255;
  --gray-light: #E3E3E5;
  --gray-xlight: #F0F4F9;
  --gray-xxlight: #ECEAF3;
  --gray-xxxlight: #E7E9EF;
  --gray-xxxxlight: #C4C4C4;
  --gray-xxxxxdark: #585858;
  --gray-xxxxxxdark: #666666;
  --gray-xxxxxxxdark: #2c3e50;
  --gray-blue: #7D8DB5;
  --blue-medium: #5E6C93;
  --blue-light: #81C7FF;
  --blue-xlight: #E0F0FA;
  --blue-accent: #2D9CDB;
  --blue-pale: #B69ECB;
  --blue-bright: #6EC8EF;
  --mint: #A0DAC1;
  --yellow: #F4C01E;
  --green: #2CC6A2;
  --green-accent: #03a481;
  --green-checkbox: #02C39A;
  --red-pale: #F8E0E1;
  --red-dark: #D9D9D9;
  --vc-accent: #F0F4F9;
  --tag-green-bg: rgba(2, 195, 154, 0.15);
  --tag-green: #03a481;
  --pagination-hover-bg: rgba(70, 66, 85, 0.15);
  --profile-department-subtitle: rgba(255, 255, 255, 0.80);
  --profile-card-bg: #5E6C93;
  --profile-card-department-bg: #B69ECB;
  --profile-card-pfp-bg: #D9D9D9;
  --popover-shadow: 0px 10px 49px rgba(0, 0, 0, 0.13);
  --card-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.13);
  --popup-overlay: rgba(22, 22, 22, 0.75);
  --popup-shadow: 0px 12px 23px 0px rgba(62, 73, 84, 0.04);
  --window-overlay: rgba(22, 22, 22, 0.75);
  --window-shadow: 0px 12px 23px 0px rgba(62, 73, 84, 0.04);
  --chip-hover: rgba(213, 69, 82, 0.7);
  --chip-disabled: rgba(213, 69, 82, 0.3);
  --calendar-today-bg: #eef3fc;
  --calendar-border: #E6EFFB;
}