$border-radius--xlarge: 1rem;
$border-radius--large: 0.5625rem;
$border-radius--medium: 0.5rem;
$border-radius--small: 0.25rem;
$border-radius--xsmall: 0.125rem;

// Screen size
$extra-small: 400px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$xlarge: 1440px;
$xxlarge: 1920px;